.poolInfoButton {
    width: 2vw;
    align-self: flex-start;
    margin: 0 0 10px 10px;
    opacity: .7;
    cursor: pointer;
}

.poolLogo {
    display: flex;
    height: 7vw;
    width: 7vw; 
    transition: all 0.4s;
}

.PoolCards:hover .poolLogo {
    height:7.5vw;
    width: 7.5vw;
}

.openPoolButton {
    border: none !important;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}

select {
    appearance:none;
}

.exitIcon-theme {
    cursor: pointer;
}