@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

 *::-webkit-scrollbar {
    display: none;
  }

 #proposalA {
    display: flex;
    background-color: red;
  }

  .carousel-inner, .carousel-item {
    height: 100%
  }
 
  @import url("https://use.typekit.net/rcu1rag.css");